/*
 * Base structure
 */

/* Move down content because we have a fixed navbar that is 3.5rem tall */
body {
/*  padding-top: 3.5rem;*/
}

/*
 * Typography
 */

h1 {
  margin-bottom: 20px;
  padding-bottom: 9px;
  border-bottom: 1px solid #eee;
}

.main {
    transition: .2s;
}
/*
 * Dashboard
 */

 /* Placeholders */
.placeholders {
  padding-bottom: 3rem;
}

.placeholder img {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

.login-panel{
    padding-top: 3rem;
}
.user-image{
    border-radius: 50%;
    padding: 0rem 0.5rem;
    cursor: pointer;
}
.dropdown-menu{
    display: block
}
.dropdown-menu.user-options{
    left: -4.6rem;
}

/* Templates */
.isTemplateInput{
    padding: 1rem;
}

.isTemplateInput:hover{
    cursor: pointer;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(51,204,0,1);
    -moz-box-shadow: 0px 0px 5px 0px rgba(51,204,0,1);
    box-shadow: 0px 0px 5px 0px rgba(51,204,0,1);
}
.isTemplateInput label:hover, .isTemplateInput input:hover{
    cursor: pointer;
}

.input-picker i.material-icons {
    display: block;
    font-size: 2.2rem;
}
.input-picker .container {
    background-color: rgb(69, 77, 84);
    border-radius: 1.5rem;
    margin: 1rem 0;
}

.input-picker h5 {
    padding: .8rem 0;
    margin: 0;
}

.input-selector{
    margin: auto;
    border-radius: 2rem;
}

.input-selector:hover{
    cursor: pointer;
    background-color: #5d676f;
}
div[role=menu] a:hover {
    text-decoration: none;
}
